/* Variables */
:root{
    --grey-text: #686b71;
}
/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Common */
body{
    font-family: 'Montserrat', sans-serif;
}
li{
    list-style-type: none;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
.flex{
    display: flex;
}
.btn{
    padding: 1rem 3rem;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    text-decoration: none;
    display: inline-block;
}
.btn:hover{
    transform: scale(1.05);
}
/* Main */
main{
    display: flex;
    background-color: lightgray;
    height: calc(100vh - 100px);
}
/* Upgrade */
.upgrade{
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
    width: calc(100% - 300px);
    text-align: right;
}
/* Sidebar */
.sidebar-layout{
    width: 300px;
    overflow-y: hidden;
}
.sidebar-content{
    width: 100%;
    height: 100%;
    font-size: 14px;
    background-color: black;
    color: var(--grey-text);   
    flex-direction: column; 
}
.sidebar-content a{
    color: var(--grey-text);
}
.sidebar-content .logo{
    width: 80%;
}
.sidebar-content .xs-logo{
    display: none;
}
.sidebar-content img{
    filter: opacity(0.7);
}
.sidebar-content li{
    padding: 0.7rem calc(1rem + 4px);
}
/* Hover sidebar */
.sidebar-content li:hover a,
.sidebar-content li:hover img{
    color: white;
    filter: opacity(1);
}
.sidebar-content .logo{
    filter: opacity(1);
}
.sidebar-content li img{
    width: 30px;
}
.sidebar-content li *{
    vertical-align: middle;
}
.sidebar-content ul{
    padding-bottom: 1rem;
}
.sidebar-layout .logo{
    padding: 1rem 1rem;
}
/* Playlist */
.playlists{
    flex-grow: 1;
}
.playlists>span{
    padding-left: calc(1rem + 4px);
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.create-playlist{
    padding-left: calc(1rem + 4px);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.create-playlist i{
    filter: opacity(0.7);
}
.create-playlist i{
    padding: 8px;
    background-color: #a3a3a3;
    font-size: 20px;
    color: black;
}
.create-playlist>span{
    padding-left: 10px;
    font-size: 15px;
    font-weight: bold;
}
.playlist-list{
    height: 50%;
    overflow-y: auto;
}
.sidebar-content #current-sidebar{
    border-left: 4px solid #a3f12c;
    padding-left: 1rem ;
    color: white;
}
#current-sidebar a{
    color: white;
}
/* Hover playlist */
.playlists li:hover a,
.playlists li:hover img{
    color: white;
    filter: opacity(1);
}
.create-playlist:hover span{
    color: white;
}
.create-playlist:hover i{
    filter: opacity(1);
}
/* Account & download */
.sidebar-footer{
    padding: 20px calc(1rem + 4px);
}
.sidebar-footer img{
    width: 20px;
}
.install-app{
    padding-bottom: 1rem;
}
.install-app *{
    vertical-align: middle;
}
.install-app span{
    padding-left: 10px;
    font-weight: bold;
}
/* Hover effect */
.install-app:hover span{
    color: white;
}
.account{
    padding-top: 1rem;
}
.account>*{
    vertical-align: middle;
}
.account img{
    width: 25px;
    background-color: #808080;
    border-radius: 50%;
}
.account span{
    padding-left: 12px;
    font-weight: bold;
    color: white;
}
/* Music */
.music-layout{
    width: calc(100% - 300px);
    padding: 1rem;
    padding-top: 6rem;
    overflow-y: auto;
    background-color: #141922;
}
.music-content h2,
.music-content h4,
.music-content i{
    color: white;
}
.music-content h5{
    color: var(--grey-text);
}
nav{
    margin-bottom: 2rem;
}
nav ul{
    justify-content: center;
    flex-wrap: wrap;
}
nav li{
    padding: 2px 1rem;
    font-size: 13px;
    color: var(--grey-text);
    font-weight: bold;
}
nav li:hover{
    color: white;
}
#current{
    margin: 0 auto;
    margin-top: 4px;
    width: 40px;
    height: 2px;
    background-color: #a3f12c;
}
.recently-played{
    margin-bottom: 2rem;
}
.recently-played h2{
    margin-bottom: 1rem;
}
.recently-played ul{
    flex-wrap: wrap;
}
.recently-played li{
    width: calc(100% / 6);
}
.album-layout{
    padding-right: 1rem;
    padding-bottom: 1rem;
}
.album-content{
    text-align: center;
}
.album-content>*{
    margin-bottom: 1rem;
}
/* Overlay effect + icon */
.album-pic{
    position: relative;
}
.album-pic img{
    display: block;
}
.popular-artists .album-pic div{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.music-content i{
    font-size: 3rem;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.overlay{    
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.album-pic:hover i,
.album-pic:hover .overlay
{
    display: block;
}
/* Creato per */
.created-for-text{
    margin-bottom: 1rem;
}
.created-for-text h1{
    margin-bottom: 1rem;
}
.created-for-text h5{
    line-height: 2rem;
}
.created-for li{
    width: calc(100% / 6);
}
/* Popular artists */
.popular-artists-text{
    margin-bottom: 1rem;
}
.popular-artists-text h1{
    margin-bottom: 1rem;
}
.popular-artists-text h5{
    line-height: 2rem;
}
.popular-artists li{
    width: calc(100% / 6);
}
.popular-artists img{
    border-radius: 50%;
}
/* Footer */
footer{
    height: 100px;
    background-color: #282828;
    color: white;
}
.footer-layout{
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
/* Song details */
.song-details,
.audio-control{
    width: calc(100% / 6);
}
.player{
    width: calc((100% / 6) * 4);
    height: 100%;
    padding: 0 10rem;
}
.song{
    align-items: center;
}
.song-img{
    width: 50px;
}
.song-text{
    padding-left: 20px;
    font-size: 12px;
    flex-direction: column;
    justify-content: center;
}
.song-name{
    font-weight: bold;
}
.song-artist{
    color: #7f7f7f;
    white-space: nowrap;
}
/* Hover effect */
.song-artist:hover{
    text-decoration: underline;
    color: white;
}
.song-icons{
    color: #7f7f7f;
    padding-left: 40px;
    flex-wrap: nowrap;
}
.song-icons i{
    padding: 0 5px;
}
.song-icons i:hover{
    color: white;
}
/* Player */
.player-control-buttons{
    justify-content: center;
    gap: 50px;
    align-items: center;
    font-size: 20px;
    height: 50%;
}
.player-control-buttons *{
    padding-top: 5px;
}
#play{
    font-size: 30px;
}
#play:hover{
    transform: scale(1.2);
}
.progress{
    height: 50%;
    justify-content: space-around;    
    padding-top: 5px;
}
.progress-bar{
    padding-top: 5px;
    position: relative;
    width: 75%;
}
.progress-bar div{
    height: 5px;
    border-radius: 5px;
}
.progress-bar .total-time{
    background-color: #5a5a5a;
}
.progress-bar .played-time{
    position: absolute;
    top: 5px;
    left: 0;
    width: 20%;
    background-color: white;
}
.progress-bar i{
    display: none;
    position: absolute;
    top: 0px;
    left: calc(20% - 6px);
}
/* Hover */
.played:hover .played-time{
    background-color: #a3f12c;
}
.played:hover i{
    display: inline-block;
}
.time-passed,
.time-total{
    font-size: 13px;
}
/* Volume */
.volume-bar{
    width: 50%;
    position: relative;
}
.volume-bar div{
    height: 6px;
    border-radius: 6px;
    position: absolute;
    top: 5px;
    left: 0;
}
.volume-bar .total-volume{
    width: 100%;
    background-color: #5a5a5a;
}
.volume-bar .volume{
    position: relative;
    width: 20%;
    background-color: white;
}
.volume-bar .now-volume{
    position: absolute;
    top: 0;
    left: 0;
}
.volume i{
    display: none;
    position: absolute;
    top: -5px;
    left: 50%;
}
.now-volume{
    width: 100%;
}
/* Hover */
.volume-bar:hover .now-volume{
    background-color: #a3f12c;
}
.volume-bar:hover i{
    display: inline-block;
}
.audio-control{
    justify-content: flex-end;
    gap: 20px;
}
.audio-control-icons{
    gap: 20px;
}


/* MediaQuery */
/* Medium */
@media screen and (max-width: 1100px) {
    /* Recently played */
    .recently-played li{
        width: calc(100% / 4);
    }
    /* Created for */
    .created-for li{
        width: calc(100% / 4);
    }    
    /* Popular artists */
    .popular-artists li{
        width: calc(100% / 4);
    }
    /* Footer - player */
    .song-details,
    .audio-control{
        width: calc(100% / 4);
    }
    .song-icons{
        padding-left: 20px;
    }
    .player{
        width: calc((100% / 4) * 2);
        padding: 0 4rem;
    }
    .player-control-buttons{
        gap: 20px;
    }
    .progress-bar{
        width: 60%;
    }
}
/* Small */
@media screen and (max-width: 700px) {
    /* Recently played */
    .recently-played li{
        width: calc(100% / 2);
    }
    /* Created for */
    .created-for li{
        width: calc(100% / 2);
    } 
    /* Popular artists */
    .popular-artists li{
        width: calc(100% / 2);
    } 
    /* Footer - player */
    .song-icons{
        flex-wrap: wrap;
        padding-left: 0;
    }   
    .song-details{
        width: calc(100% / 3);
    }
    .song-artist{
        white-space: normal;
    }
    .audio-control{
        width: calc(100% / 3);
        padding-left: 5px;
    }
    .player{
        width: calc(100% / 3) ;
        padding: 0;
    } 
    .player-control-buttons{
        gap: 0px;
    }
    .player-control-buttons *{
        padding: 0 10px;
        padding-top: 5px;
    }
}
/* ExtraSmall */
@media screen and (max-width: 600px){
    /* Sidebar */
    .sidebar-layout{
        width: 50px;
    }

    .sidebar-content .logo{
        display: none;
    }
    .sidebar-content .xs-logo{
        display: inline-block;
        padding: 5px;
    }
    .sidebar-content a{
        display: none;
    }
    .sidebar-content #current-sidebar{
        border-left-width: 0px;
        padding-left: 0;
    }
    .sidebar-content ul{
        padding-left: 10px;
        padding-right: 10px;
        flex-grow: 1;
    }
    .sidebar-content li {
        padding: 5px 0;
    }
    /* Playlist */
    .playlists{
        display: none;
    }
    /* Account */
    .sidebar-footer{
        align-self: center;
        padding: 20px 0;
    }
    hr{
        display: none;
    }
    .sidebar-footer span{
        display: none;
    }
    /* Music */
    .music-layout{
        width: calc(100% - 50px);
    }
    .progress-bar i{
        display: none;
        position: absolute;
        top: 2px;
        left: calc(20% - 4px);
    }
    /* Footer */
    .footer-layout{
        padding: 0 10px;
    }
    .footer-layout *
    {
        font-size: 12px;
    }
    #play{
        font-size: 16px;
    }
    .audio-control-icons{
        gap: 10px;
    }
    .audio-control{
        justify-content: space-between;
        padding-left: 5px;
    }
    .volume i{
        display: none;
        position: absolute;
        top: -3px;
        left: 50%;
    }
    /* Upgrade */
    .upgrade{
        width: calc(100% - 50px);
    }
}
